.login-welcome-text {
  position: fixed;
  top: 15%;
  left: 15%;
  right: 50%;
}

.login-text {
  position: absolute;
  top: 40%;
  width: 100%;
  min-height: 100px;
  text-align: center;
  font-size: 18px;
}

.p {
  font-family: "Monaco", monospace;
  font-weight: bold;
  min-height: 100px;
}

.login-form {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: start;
}

.login-object {
  display: grid;
  grid-template-columns: 20%;
  justify-content: center;
  margin: none;
}

.login-button {
  border-radius: 4px;
  border: none;
  padding: 10px;
  background-color: #5f82ff;
}

.login-button:hover {
  background-color: #5f70ff;
}

.label {
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.error-label {
  margin: 5px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 3px;
  box-sizing: border-box;
}
